version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
  web:
    build: .
    ports: 
      - "8000:8000"
    env_file: .env
    depends_on:
      - db

volumes:
  db_data: